body {
	background-color: #D8E2DC
}

h1 {
	background-color: #FFFFFF;
	color: #F4ACB7;
}

h3{
	background-color: #FFFFFF;
	color: #F4ACB7;
}

h4{
	background-color: #FFFFFF;
	color: #F4ACB7;
}

p {
	background-color: #FFCAD4;
	color: #9D8189;
}
